


.imgs{
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin:auto;
    
}


html{
    font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;

}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 237, 236);
    box-sizing: border-box;
   
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(24, 194, 112);
}
.header-div{
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    
   
    
}

header span:first-child{
font-size: 25px;
font-weight: 500;
}

header span:nth-child(2) {
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.arrow{
    width: 50px;
    height: 50px;
}
  

.content{
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    
    
    
    
}
.text-1{
    padding-top: 10px;
}
.text-2{
    
    font-size: 32px; 

}

.blox-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 2rem 2rem;
    
    
    
    
    
    
    
  
}

.blox-with-picture{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    background-color: rgb(219, 219, 219);
    height: 250px;
    min-width: 300px;
    
    
   
}

.blox-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blox p{
    padding: 0;
    margin: 0;
    padding-right: 40px;
    padding-left: 10px;
}




@media screen and (max-width: 740px) {
    body{
        min-width: 450px;
    }
    
    nav{
        display: none;
    }
    .language-button{
        display: none;
    }
    
    .text-1{
        display: none;
    }

    .content{
        align-items: center;
        padding-right: 0;
    }
    
    .blox-container{
        display: grid;
        grid-template-columns: 1fr;
       
        
        
    }
    .blox-with-picture{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        gap: 10px;
        
    }
    .imgs{
        object-fit: cover;
        width: 100%;
       
    
    }
    .blox-text{
        display: flex;
        flex-direction: column-reverse;
       align-items: start;
        
        max-width: 100%;
        gap: 10px;
        

        
}
.blox p{
    padding: 0;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;

}

.imgs-box{
    
    object-fit: cover;
    width: 450px;
    width: 100%; 
}

@media screen and (min-width: 992px){
    
    
    nav{
        
        gap: 50px;

    }
    .imgs{
        object-fit: cover;
        width: 100%;
}



}

.one{
    display: flex;
}

.flix{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
